%button {
    border-radius: 20em;
    background-color: $pink;
    border: none;
    text-align: center;
    text-decoration: none;
    color: $white;
    font-weight: bold;
    padding: 15px;
}

%button2 {
    border-radius: 22em;
    background-color: #d6d6d6;
    border: none;
    text-align: center;
    text-decoration: none;
    color: $black;
    font-weight: bold;
    padding: 11px;
}