%button {
    border-radius: 22em;
    background-color: $white;
    border: none;
    text-align: center;
    text-decoration: none;
    color: $dark-cyan;
    font-weight: bold;
    padding: 14px 30px;
    box-shadow: 2px 2px 10px 0.6px rgb(214, 213, 213)
}

%button2 {
    border-radius: 20em;
    background-color: $pink;
    border: none;
    text-align: center;
    text-decoration: none;
    color: $white;
    font-weight: bold;
    padding: 15px;
}
