$pink: hsl(322, 100%, 66%);
$white: #ffffff;
$dark-cyan: hsl(192, 100%, 9%);
$btn-margin: 30px 50px 60px 0;

@import 'placeholder';

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

h1,
h3 {
    font-family: 'Poppins', sans-serif;
}

.whole {
    background-image: url('images/bg-hero-desktop.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; //centered vertically & horizontally
    background-color: rgba(12, 188, 197, 0.05);
    height: 100vh;
}

.ontop {
    display: grid;
    grid-template-areas: 'head navbtn';
    grid-template-columns: 50%;
    grid-template-rows: 100%;
    // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 10px;
    padding: 20px 20px 30px 20px;
}

.header {
    grid-area: head;
    // margin: 30px 0 0 20px;
    img {
        max-width: 100%;
    }
}

.try-btn {
    grid-area: navbtn;
    justify-self: end;
    // margin: 23px 20px 0 0;

    button {
        @extend %button;
    }
}

.sxn {
    display: grid;
    grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    margin-left: 20px;

    .info{
        width: auto;
        button{
            @extend %button2;
            margin-top: 30px;
            max-width: 100%;
        }
    }
    .side-image{
        justify-self: center;
        img{
            width: 100%;
        }
    }
}

.main {
    padding: 70px 20px 40px 20px;

    .card{
        box-shadow: 0 4px 8px 0 rgba(160, 157, 157, 0.25);  //border radius to go all round the card
        padding: 16px;
        text-align: center;
        background-color: #ffffff;
        border-radius: 10px;
    }
}

// .attribution {
//     font-size: 11px;
//     text-align: center;

//     a {
//         color: hsl(228, 45%, 44%);
//     }
// }