$pink: hsl(322, 100%, 66%);
$white: #ffffff;
$dark-cyan: hsl(192, 100%, 9%);
$btn-margin: 30px 50px 60px 0;

@import 'placeholder';

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

h1,
h3 {
    font-family: 'Poppins', sans-serif;
}

.whole {
    background-image: url('images/bg-hero-desktop.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; //centered vertically & horizontally
    background-color: rgba(12, 188, 197, 0.05);
}

.ontop {
    display: grid;
    grid-template-areas: 'head navbtn';
    grid-template-columns: 50%;
    grid-template-rows: 100%;
    grid-gap: 10px;
    padding: 20px 20px 30px 20px;
}

.header {
    grid-area: head;

    // margin: 30px 0 0 20px;
    img {
        max-width: 100%;
    }
}

.try-btn {
    grid-area: navbtn;
    justify-self: end;

    button {
        @extend %button;
    }
}

.sxn {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    align-items: center;
    margin-left: 20px;

    .info {
        width: auto;

        button {
            @extend %button2;
            margin-top: 30px;
            max-width: 100%;
        }
    }

    .side-image {
        justify-self: center;

        img {
            width: 100%;
        }
    }
}

.card {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 30px 20px 40px 20px;
    margin: 10px;
    box-shadow: -1px -1px 14px 6px rgba(160, 157, 157, 0.25);
    background-color: #ffffff;
    border-radius: 10px;

    .card-details {
        flex-basis: 300px;
        flex-grow: 1;
        flex-shrink: 0;
        margin-right: 20px;
    }

    .card-image {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 300px;
        img {
            width: 100%;
            padding-bottom: 40px;
        }
    }
}

// .attribution {
//     font-size: 11px;
//     text-align: center;

//     a {
//         color: hsl(228, 45%, 44%);
//     }
// }